@font-face {
    font-family: "fuente1";
    src: url(./Fuentes/fuente1.ttf);
}

@font-face {
    font-family: "fuente2";
    src: url(./Fuentes/fuentes2.ttf);
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Imagenes/Imagen1.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box; esto hace que el fondo como qu ese quede quito mientras hace scoll nomas */
    background-attachment: fixed;
}

header {

    background-color: rgb(59, 59, 59);
    color: white;
    background-image: url(./Imagenes/Imagen2.png);
    text-align: center;
    background-size: cover;
    padding: 10% 30%;
    color: white;

}



footer {
    text-align: center;
    background-color: rgb(59, 59, 59);

    color: white;
}

.subtitulo {
    text-align: center;
    color: rgb(0, 0, 0);
}
.contenedor {
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.tarjeta-cronograma {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-horario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

h1,
h2,
h3 {
    font-family: "fuente1";
}

h1 {
    text-align: center;
}

p,
span {
    font-family: "fuente2";
}

.invitados {
    background-color: rgb(255, 228, 117);
    padding-bottom: 400px;
}


.tarjeta, .formulario {
    background-color: rgb(164, 151, 222);
    box-shadow: 1px 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    height: 450px;
    border-radius: 20px;
    box-sizing: border-box;
}
/*.tarjeta {
    background-color: rgb(164, 151, 222);
    box-shadow: 1px 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 450px;
    padding: 20px;
    margin: 20px;
    margin-left: 200px;
    border-radius: 20px;
}*/

@media (min-width: 760px) {
    .contenedor {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}