@font-face {
    font-family: Impact;
    src: url();
}
html {
font-family: Arial, Helvetica, sans-serif;
}
body {
background-image: url(./Imagenes/Imagen1.jpg);
background-size: cover;
background-position: center;
}

header {
background-image : url(./Imagenes/Imagen2.png);
text-align: center;
color : white;
}



footer {
text-align: center;
background-color: rgb(59, 59, 59);
color : white;
}

class .tarjeta {
background-image : url(./Imagenes/Imagen2.png);
text-align: center;
color : white;

} 